body {
	background-color: #111;
}

main {
	display: flex;
	height: 100svh;
}

.map {
	flex: 1;
	height: 100svh;
}

aside {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	margin: 0.8rem;
	width: 16rem;

	button {
		background-color: #eee;
		border-radius: 5px;
		padding: 0.5rem 0.8rem;
		text-align: left;
	}
}
