body {
	background-color: #111;
	color: white;
	height: 100svh;
}

main {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 20rem;

	* {
		border: 1px solid #333;
		border-radius: 5px;
		box-shadow: 0 0 0 3px transparent;
		padding: 0.5rem 0.7rem;
		transition: border-color 200ms, box-shadow 200ms;

		&:focus-visible {
			outline: none;
		}
	}

	input {	
		color: white;
		background-color: transparent;

		&:focus-visible {
			border-color: #6a6a6a;
			box-shadow: 0 0 0 3px #222;
		}
	}

	button {
		background-color: #eee;
		border-color: #eee;

		&:focus-visible {
			box-shadow: 0 0 0 3px #444;
		}
	}
}

#auth-error {
	background-color: #1e0707;
	border-color: #401b1b;
	font-size: 0.8rem;
	line-height: 1.35rem;
	margin: 0;
}
